html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  height: 100%;
  font-size: 14px;
  color: #333;
  overflow: hidden;  // BFC
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width:6px;
  height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 6px rgba(0,0,0,0.3);
  border-radius:6px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius:6px;
  background:rgba(144,147,153,0.3);
  -webkit-box-shadow:inset 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(0,0,0,0.1);
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// 换行
.lineBreak {
  white-space: wrap;
  word-break: break-all;
  word-wrap: break-word;
}