.md2html {
  line-height: 2;
  ul {
    margin-left: 24px;
  }
  blockquote {
    position: relative;
    padding-left: 18px;
    background: rgba(0, 0, 0, 0.05);
    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 100%;
      left: 0;
      background: #dfe2e5;
    }
  }
  hr {
    margin: 14px 0;
  }
  pre {
    padding: 10px 6px;
    background: rgba(0, 0, 0, 0.05);
    overflow: scroll;
    line-height: 1.4;
  }
}
