// 侧栏宽度
@side-width: 80px;
@footer-height: 116px;
@content-max-Width: 1000px; /*no*/

@font-size-lg: 28px;
@font-size-md: 20px;
@font-size-sm: 16px;
@font-size-xs: 14px;

// 基础色
@color-base: #204040;
// 边框色
@color-border: rgba(0,0,0,0.08);
// 浅色
@color-tint: #999;
// 链接颜色
@color-link: #c3b74e;
// 主题绿色
@color-main: #4f8e54;
// 阴影色
@color-shadow: rgba(0,0,0,0.4);

@screen-sm-min: 768px; /*no*/
@screen-md-min: 992px; /*no*/
@screen-lg-min: 1200px; /*no*/

html,body {
  height: 100%;
}

body a {
  color: #4f8e54;
}

button {
  outline: none;
}

.ts {
  transition: all 0.3s;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1
}

.main {
  margin: 0 auto;
  max-width: @content-max-Width;
}

.icon {
  .ivu-icon {
    line-height: 1;
    vertical-align: top;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


// sm
@media (max-width: @screen-md-min) {
  #app {
    .userBase-content.navShow {
      margin-right: 0;
      transform: translate3d(-@side-width, 0, 0);
    }
    .nav-bar {
      .nav-menu {
        display: block;
      }
    }
  }

}

// xs
@media (max-width: @screen-sm-min) {
  #article {
    div.article-content {
      margin-left: 0;
    }
    div.article-catalog {
      display: none;
    }
  }
}

// md
@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {

}
// lg
@media (min-width: @screen-lg-min) {

}
