// 侧栏宽度
@side-width: 100px;
@footer-height: 60px;
@content-max-Width: 1200px;

@font-size-lg: 28px;
@font-size-xs: 12px;
@font-size-sm: 14px;

// 浅色
@color-tint: #666;
// 链接颜色
@color-link: #c3b74e;

@screen-sm-min: 768px; /*no*/
@screen-md-min: 992px; /*no*/
@screen-lg-min: 1200px; /*no*/

html,body {
  height: 100%;
}

body a {
  color: #4f8e54;
}

.ts {
  transition: all 0.3s;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix {
  zoom: 1
}

.main {
  margin: 0 auto;
  max-width: 840px;
}


.icon {
  .ivu-icon {
    line-height: 1;
    vertical-align: top;
  }
}

// xs
@media (max-width: @screen-sm-min) {
  #app {
    .userBase-content {
      margin-right: 0;
      &.navShow {
        transform: translate3d(-@side-width, 0, 0);
      }
    }
    .nav-menu {
      right: 10px;
      display: block;
    }
  }
}
// sm
@media (min-width: @screen-sm-min) and (max-width: @screen-md-min) {

}
// md
@media (min-width: @screen-md-min) and (max-width: @screen-lg-min) {

}
// lg
@media (min-width: @screen-lg-min) {

}
